<% if !@bracket.started %>
  <div class ="show-bracket">
    <%= @bracket.game_name %> <br />
    <%= @bracket.description %>
    <%= @bracket.admin %>
    <br />
    <% if current_user && !@bracket.started %>
    <% if @bracket.users.include? current_user %>
    <% @status = "leave" %>
    <%= render partial: "form", locals: {current_user: current_user, bracket: @bracket, status: "remove"}  %>
    <% else %>
    <%= render partial: "form", locals: {current_user: current_user, bracket: @bracket, status: "join"}  %>
    <% end %>
    <% end %>
    <br />
    <% @bracket.users.each do |buser| %>
    <%= buser.email %> <br />
    <% end %>
  </div>

  <% if current_user.email == @bracket.admin %>
  <%= button_to("Start Bracket", start_bracket_url) %>
  <% end %>
<% else %>
  <div class ="show-bracket">
    <% if @games.length > 0 %>
    <%= "Total games: #{@games.length}" %>
    <br /><br />
      <% @games.each do |game| %>
      <div class="game">
        <% if game.first_team_id != nil && game.second_team_id != nil %>
          <p class="team-name"> <%= User.find_by(id: game.first_team_id).email%> </p>
          <p class="team-name"> <%= User.find_by(id: game.second_team_id).email %> </p>
        <% else %>
        <p> <%= "upcoming"%> </p>
        <p> <%= "upcoming"%> </p>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
