<% if !@bracket.started %>
  <div class ="show-bracket">
    <%= @bracket.game_name %> <br />
    <%= @bracket.description %>
    <%= @bracket.admin %>
    <br />
    <% if current_user && !@bracket.started %>
    <% if @bracket.users.include? current_user %>
    <% @status = "leave" %>
    <%= render partial: "form", locals: {current_user: current_user, bracket: @bracket, status: "remove"}  %>
    <% else %>
    <%= render partial: "form", locals: {current_user: current_user, bracket: @bracket, status: "join"}  %>
    <% end %>
    <% end %>
    <br />
    <% @bracket.users.each do |buser| %>
    <%= buser.email %> <br />
    <% end %>
  </div>

  <% if current_user.email == @bracket.admin %>
  <%= button_to("Start Bracket", start_bracket_url) %>
  <% end %>
<% else %>
  <div class ="show-bracket">
    <%= "Hello" %>
  </div>
<% end %>
