<% if !@bracket.started %>
  <div class ="show-bracket">
    <%= @bracket.game_name %> <br />
    <%= @bracket.description %>
    <%= @bracket.admin %>
    <br />
    <% if current_user && !@bracket.started %>
    <% if @bracket.users.include? current_user %>
    <% @status = "leave" %>
    <%= render partial: "form", locals: {current_user: current_user, bracket: @bracket, status: "remove"}  %>
    <% else %>
    <%= render partial: "form", locals: {current_user: current_user, bracket: @bracket, status: "join"}  %>
    <% end %>
    <% end %>
    <br />
    <% @bracket.users.each do |buser| %>
    <%= buser.email %> <br />
    <% end %>
  </div>

  <% if current_user.email == @bracket.admin %>
  <%= button_to("Start Bracket", start_bracket_url) %>
  <% end %>
<% else %>
  <div class ="show-bracket">
    <% array_of_rounds = [] %>
    <% sorted_games = @games.sort {|a,b| a.round <=> b.round} %>
    <% (sorted_games[sorted_games.length - 1].round + 1).times do |i|%>
      <% array_of_rounds << Game.where(bracket_id: @bracket.id, round: i).to_a %>
    <% end %>
    <% array_of_rounds.shift %>
    <% array_of_rounds.each do |games_of_round| %>
    <div class="round">
      <% games_of_round.each do |game| %>
        <div class="game">
          <% if game.round == 1 %>
            <p class="team-name"> <%= User.find_by(id: game.first_team_id).email%> </p>
            <p class="team-name"> <%= User.find_by(id: game.second_team_id).email %> </p>
            <% else %>
            <p> <%= "upcoming"%> </p>
            <p> <%= "upcoming"%> </p>
            <% end %>
          </div>
      <% end %>
    </div>
    <% end %>

    <!-- <% if @games.length > 0 %>
    <%= "Total games: #{@games.length}" %>
    <br /><br />
      <% @games.each do |game| %>
      <div class="game">
        <% if game.round == 1 %>
          <p class="team-name"> <%= User.find_by(id: game.first_team_id).email%> </p>
          <p class="team-name"> <%= User.find_by(id: game.second_team_id).email %> </p>
        <% else %>
        <p> <%= "upcoming"%> </p>
        <p> <%= "upcoming"%> </p>
        <% end %>
      </div>
      <br /><br /><br />
      <% end %>
    <% end %> -->
  </div>
<% end %>
