<%= form_for @user do |f| %>
<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %>
  <%= f.text_field :password %>
</div>
<div>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
</div>
<%= f.submit "Create account" %>

<% end %>
