<!DOCTYPE html>
<html>
  <head>
    <title>Showdown</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class="nav" id="nav">
      <div class="logo">
        <%= link_to( image_tag("showdownlogo.png"), root_url, class: "logo_size") %>
        </div>

      <!-- <div class="navbar_icon" id="navbar_icon">
          <%= link_to( image_tag("new.png"), new_bracket_url) %>
          <%= link_to( image_tag("past.svg"), brackets_url) %>
      </div> -->
      <div class="navbar_text" id="navbar_text">

          <a href="/brackets/new">
            <span>New</span>

          <a href="/brackets">
            <span>History</span>

            <a href="/brackets">
              <span>Live</span>
      </div>
      <div class="login">
        <% if current_user %>
        <%= link_to current_user.email, root_url %> | <%= link_to "Log Out", "#{sessions_path}/#{current_user.id}", method: :delete %>
        <% else %>
        <%= link_to "Log In", new_session_url %>  or <%= link_to "Sign up", new_user_url %>
        <% end %>
      </div>
    </div>
    <div class="page-container">
      <%= yield %>
    </div>
  </body>
</html>
