<!DOCTYPE html>
<html>
  <head>
    <title>Showdown</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="side_nav" id="side_nav">
      <div class="logo">
        <a href="/">
      </div>
      <div class="navbar_links" id="navbar_links">

          <a href="/brackets/new">
            <span>New</span>

          <a href="/brackets">
            <span>Past Matches</span>
        
      </div>
      <div class="login">
        <% if current_user %>
        <%= link_to current_user.email, root_url %> | <%= link_to "Log Out", "#{sessions_path}/#{current_user.id}", method: :delete %>
        <% else %>
        <%= link_to "Log In", new_session_url %>  or <%= link_to "Sign up", new_user_url %>
        <% end %>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
