<!DOCTYPE html>
<html>
  <head>
    <title>Showdown</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="side_nav">
      <div class="logo">
        <%= image_tag "bitmaker_logo.svg" %>
      </div>
      <div class="navbar_links">
        <ul>
          <li><%= link_to "New Showdown". root_url %></li>
          <li><%= link_to "Past Showdowns", root_url %></li>
          <li></li>
        </ul>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
